__pycache__
**/dist/
*/build/
*.py[cod]
*.egg-info/
*.egg
*.whl
.build
.cache/
.code
.coverage
.dev
.DS_Store
.eggs/
.env
.lint
.lock
.pytest_cache/
.serverless/
.test
.venv
.vscode/
htmlcov/
node_modules/
pytest-out.xml
scratch*
temp/
tmp/
venv*/

bungalow
abc
