[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black =         {version = "==21.12b0",  index = "pypi"}
ipython =       {version = "~=8.0",    index = "pypi"}
pycodestyle =   {version = "~=2.8",     index = "pypi"}
pylint =        {version = "~=2.12",     index = "pypi"}
pytest =        {version = "~=6.2",     index = "pypi"}
pytest-cov =    {version = "~=3.0",    index = "pypi"}

[packages]
awslambdaric =          {version = "~=2.0",         index = "pypi"}
boto3 =                 {version = "~=1.20",        index = "pypi"}
lambdarest =            {version = "==12.0.0",      index = "pypi"}  # Locked due to a few workarounds, test when incrementing.
PyJWT =                 {version = "~=2.3",         index = "pypi"}

[requires]
python_version = "3.9"
